* {
    background-color: #6E8783;
    margin: 0;
}



.sidebar{
    display: grid;
    background-color: #db504a
}


.Navigation{
    display: inline;
    padding-right: 1rem;
}


h1 {
    color: #edddd0;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
}

.nofloat{
    display:flex;
    flex-wrap: wrap;
}

p {
    font-size: 150%;
    margin: 10px;
    padding: 60px;
    color: #edddd0
}

nav > ul{
    font-size: 180%;
    display: flex;
    background-color: #334259;
}

ul{
    font-size: 180%;
}

nav a {
    font-family: 'Roboto Slab', serif;
    border-width: 5px;
    padding: auto ;
}


img {
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

.footer {
    
}