* {
    background-color: #6E8783;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas: 
    'h h h'
    's m m'
    'f f f';
    width: 100vw;
    height: 100vh;
    
}
.header {
    grid-area: h;
    background-color: #edddd0;

}

footer {
    grid-area: f;
    background-color: #db504a;
}

.sidebar{
    grid-area: s;
    background-color: #334259;
}


.Navigation{
    display: inline;
    padding-right: 1rem;
}


h1 {
    color: #edddd0;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
}

.nofloat{
    display:flex;
    flex-wrap: wrap;
}

p {
    font-size: 150%;
    margin: 10px;
    padding: 60px;
    color: #edddd0
}

nav > ul{
    font-size: 180%;
    display: flex;
    background-color: #edddd0;
}

ul{
    font-size: 180%;
}

nav a {
    font-family: 'Roboto Slab', serif;
    border-width: 5px;
    padding: auto ;
}


img {
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

