* {
    background-color: #6E8783;
    margin: 0;



}

.grid-container {
    /* display: grid;
    grid-template-columns: 1fr;
    */
    
}

.sidebar{
    display: grid;
    grid-auto-rows: 5rem;
    
}


.Navigation{
    
    list-style: none;
    display: inline;
    padding-right: 1rem;
}


h1 {
    color: #edddd0;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
}

.nofloat{
    display:flex;
}

p {
    font-size: 150%;
    margin: 10px;
    padding: 60px;
    color: #edddd0
}

ul{
    font-size: 150%;
    
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #334259;
}

nav a {
    font-family: 'Roboto Slab', serif;
    border-width: 5px;
    padding: auto ;
}


img {
   
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

.footer {
    
}